# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# Next.js
.next/
out/
.vercel/
.next-static/

# Build artifacts
dist/
coverage/

# Env / Secrets
.env
.env.*
!.env.example

# Misc
.DS_Store
*.local
*.swp

# Prisma (SQLite使う場合のみ)
# prisma/dev.db
# prisma/dev.db-journal
